:root {
  --color-1: rgb(237, 238, 247);
  --color-2: rgb(227, 227, 227);
  --color-3: rgb(42, 128, 214);
  --color-4: rgb(27, 98, 168);
  --color-5: rgb(49, 186, 205);
}

@page {
  size: A4;
  margin: 0;
}

html,
body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 297mm;
  width: 210mm;
}

.cv-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.side-bar {
  background-color: var(--color-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 320px;
}

.image-wrapper {
  margin-top: 10px;
  position: relative;
  width: 250px;
  height: 300px;
  border: var(--color-4) 2px solid;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(210, 208, 202);
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: auto;
  transform: translate(-50%, -50%);
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  font-size: 15px;
}

.icon,
.info-text,
.link {
  margin: 0;
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.icon {
  width: 28px;
}

.link:hover {
  color: rgb(10, 10, 163);
}

.knowledge-text,
.some-knowledge-text,
.languages-text {
  font-size: 18px;
  font-weight: 600;
  width: 300px;
  text-align: center;
  padding: 15px 0px;
  margin: 10px 0 0 0;
  color: var(--color-2);
}

.knowledge-text {
  border-top: var(--color-2) 2px solid;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 8px;
  width: 260px;
  margin: 0;
  padding-left: 20px;
  color: white;
}

.knowledge-list,
.some-knowledge-list,
.languages-list {
  grid-template-columns: 1fr;
}

.skill {
  font-size: 16px;
}

.cv-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--color-2);
  border-right: var(--color-4) 2px solid;
  border-top: var(--color-4) 2px solid;
  border-bottom: var(--color-4) 2px solid;
}

.language-button {
  position: absolute;
  top: 30px;
  right: 20px;
  border: none;
  cursor: pointer;
  transition: scale 0.3s;
}

.language-button:hover {
  box-shadow: none;
  background-color: transparent;
  scale: 1.1;
}

.language-icon {
  height: 40px;
  width: 60px;
}

.about-me {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-bottom: 20px;
  color: var(--color-4);
}

.description-wrapper {
  margin: 0 10px;
}

.name {
  margin: 20px 10px;
  align-self: flex-start;
  font-size: 30px;
  font-weight: 800;
}

.description-wrapper {
  padding: 4%;
  border: var(--color-4) 2px solid;
  border-radius: 20px;
}

.about-text {
  margin: 4px 0;
  font-size: 24px;
}

.description {
  margin: 0;
  font-size: 18px;
  color: black;
}

.wrapper {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.text {
  font-weight: 800;
  font-size: 26px;
  padding-bottom: 10px;
  margin: 0px 10px;
  border-bottom: var(--color-4) solid 2px;
  color: var(--color-4);
}

.entry {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-year-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
}

.title,
.title-year {
  margin: 5px 5px;
}

.title {
  font-size: 16px;
}

.title-year {
  font-size: 16px;
  background-color: var(--color-4);
  color: white;
  min-width: 150px;
  padding: 4px;
  border-radius: 4px;
  white-space: nowrap;
}

.title-place {
  font-size: 15px;
  margin: 0px 15px;
  color: var(--color-3);
  font-style: italic;
}

.title-points {
  margin: 5px 15px 10px 15px;
  padding-left: 20px;
}

.title-point {
  font-size: 15px;
  margin: 2px 0;
}

.education-status {
  color: black;
  font-style: normal;
}

@media print {
  html,
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .language-button {
    display: none;
  }

  .name {
    align-self: center;
  }
}